asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.11.17
chardet==5.2.0
distlib==0.3.8
Django==4.2.7
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
filelock==3.13.1
gunicorn==21.2.0
numpy==1.24.3
packaging==23.2
Pillow==10.1.0
pipenv==2023.11.15
platformdirs==4.1.0
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-decouple==3.8
pytz==2023.3
reportlab==4.0.8
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
virtualenv==20.25.0
